body {
    background-color: black;
}



.main {
    padding: 7rem 10rem;
}

h1, h2, h3, h4 {
    color: white;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

h3 {
    font-size: 1rem;
    font-weight: 200;
}

section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.main h1 {
    font-size: 4rem;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

.main h2 {
    margin-top: 1rem;
}


/* risks */

.risks {
    margin-top: 1rem;
}


/* results */

.results {
    margin-top: 2rem;
}


/* discleimer */

.discleimer {
    margin-top: 2rem;
}


/* button */

.button {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.button a {
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    color: black;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.button a:hover {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px white;
    color: white;
}