/* Button-Start */

.button-start {
    position: fixed;
    right: 2rem;
    z-index: 2;
    box-shadow: 0 0 40px 1px black;
}

.button-start a {
    color: black;
    background-color: rgb(240, 240, 240);
    border: 2px solid black;
    border-radius: 15px;
    padding: 1rem 3rem;
    transition: all 0.3s;
}


.button-start a:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}

/*  Statement */

.statement {
    background: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.statement-text h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
    text-align: center;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}

.statement-text h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
    text-align: center;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
}



/* Main-Apply */

.main__apply-sections {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem; 
    padding: 4rem;

  }
  

.main__apply-section {
    display: flex;
    align-items: center;
    gap: 20px;
}


.apply__step-number {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: black;
    width: 60px;
    min-width: 60px;
    min-height: 60px;
    height: 60px;
    border-radius: 10px; 
  }
  

  .apply__section-label {
    font-size: 1.8rem;
    font-weight: 500;
    color: #000000;
  }
  

.main__apply-sections p {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.apply__section-con {
    display: flex;
    flex-direction: column;
    width: calc(33% - 2rem); 
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .apply__section-con:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  





/* Main-Start */

.main__start-con {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(11, 11, 11) 100%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.main__start-text-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
}

.main__start-img img {
    min-width: 100%;
    height: 100%;
    min-height: 40rem;
    max-height: 40rem;
    background-repeat: no-repeat;
    object-fit: cover;
    transition: all 0.5s;
    
}

.main__start-img {
    min-width: 50%;
}


.main__start-text {
    width: 80%;
}

.main__start-text h2 {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    text-align: center;
    transition: all 0.3s;
}

.main__start-text h3 {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    text-align: center;
    transition: all 0.3s;
}

.main__start-text h4 {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    transition: all 0.3s;
}

.main__start-text-line1 {
    margin-bottom: 3rem;
    text-align: start;
    color: white;
    transition: all 0.3s;
}

.main__start-text-line2 {
    margin-top: 3rem;
    text-align: end;
    color: white;
    transition: all 0.3s;
}

/* Main-App */

.main-app {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.main-app__options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.main-app__options-text {
    width: 100%;
    display: flex;  /* Remember */
    flex-direction: column;
    row-gap: 3rem;
}

.main-app h2 {
    text-align: center;
    color: black;
    font-size: 9rem;
    font-family: "Bebas Neue", sans-serif;
    transition: all 0.5s;
}

.main-app h3 {
    color: rgb(34, 34, 34);
    font-size: 2.4rem;
    font-weight: 500;
}

.main-app h4 {
    margin-top: 0.8rem;
    color: rgb(64, 64, 64);
    font-size: 1.3rem;
    font-weight: 300;
}


.main-app__options-img {
    width: 45rem;
    max-width: 45rem;
}

.main-app__options-img img {
    transition: all 0.5s;
}


.option-next {
    display: none;
    color: black;
}

.option-back {
    display: none;
    color: black;
}


/* Transforamtion */

/* .main__transformation {
    padding: 3rem;
    background-color: rgb(255, 255, 255);
}

.main__transformation-text h2 {
    font-size: 2.7rem;
    font-weight: 500;
    color: rgb(35, 35, 35);
    text-align: center;
}

.main__transformation-sections {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main__transformation-section-arrow img {
    display: block;
}

.section {
    margin-right: 2rem;
    margin-left: 2rem;
}

.section img {
    overflow: hidden;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.section h4 {
    color: rgb(27, 27, 27);
    margin-top: 0.8rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.section p {
    color: rgb(19, 19, 19);
} */



/* Scroll */


.main__scroll-video img {
    width: 100%;
    max-height: 20rem;
    min-height: 20rem;
    background-repeat: no-repeat;
    object-fit: cover;
    opacity: 0.95;
    transition: all 0.5s;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}



@media screen and (min-width: 1600px) {
    .main__start-text h2 {
        font-size: 1.4rem;
    }
    
    .main__start-text h3 {
        font-size: 1.4rem;
    }
    
    .main__start-text h4 {
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 1310px) {
    .main__start-text-line1 {
        margin-bottom: 3rem;
    }
    
    .main__start-text-line2 {
        margin-top: 3rem;
    }


    .main__start-text h2 {
        margin-bottom: 2rem;
    }
    
    .main__start-text h3 {
        margin-bottom: 2rem;
    }
    
}

@media screen and (max-width: 1089px) {

    .main__scroll-video img {
        min-height: 13rem;
    }

    .main__start-img img {
        min-height: 30rem;
        max-height: 30rem;
    }

    .main__start-text-line1 {
        margin-bottom: 1rem;
    }
    
    .main__start-text-line2 {
        margin-top: 1rem;
    }


    .main__start-text h2 {
        font-size: 1.1rem;
    }
    
    .main__start-text h3 {
        font-size: 1.1rem;
    }
    
    .main__start-text h4 {
        font-size: 1.1rem;
    }


    .statement {
        height: 350px;
        padding: 2rem 4rem;
    }

    .statement-text h2 {
        font-size: 5rem;
    }

    .statement-text h3 {
        font-size: 5rem;
    }

    .main__apply-sections {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 2rem; 
    }

    .apply__section-con {
        width: 90%; 
    }

    .main__apply-section {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .main__apply-sections p {
        margin-top: 2rem;
        font-size: 1.2rem;
    }


    .main-app {
        padding: 0rem 2rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }

    .main-app__options {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .main-app__options-text {
        width: 100%;
    }

    .option {
        display: none;
    } 

    .option.active {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 

    .main-app h2 {
        font-size: 8rem;
    }

    .main-app h3 {
        text-align: center;
    }

    .main-app h4 {
        text-align: center;
    }

    .main-app__options-img {
        margin-top: 3rem;
    }

    .option-next {
        display: block;
        width: 5rem;
        font-size: 1.8rem;
        font-weight: 800;
    }
    
    .option-back {
        display: block;
        width: 5rem;
        font-size: 1.8rem;
        font-weight: 800;
    }

    .main-app__options-text-buttons {
        display: flex;
    }


}



@media screen and (max-width: 969px) {

    .main__start-text h2 {
        font-size: 1rem;
    }
    
    .main__start-text h3 {
        font-size: 1rem;
    }
    
    .main__start-text h4 {
        font-size: 1rem;
    }
}


@media screen and (max-width: 900px) {
    .main__apply-sections {
        flex-direction: column;
      }
    
      .apply__section-con {
        width: 100%; 
      }

   
}

@media screen and (max-width: 869px) {
 
    .main__start-text h2 {
        font-size: 0.9rem;
    }
    
    .main__start-text h3 {
        font-size: 0.9rem;
    }
    
    .main__start-text h4 {
        font-size: 0.9rem;
    }

    .main__start-img img {
        width: 100rem;
    }

    .statement {
        height: 300px;
        padding: 2rem 3rem;
    }

    .statement-text h2 {
        font-size: 4.5rem;
    }

    .statement-text h3 {
        font-size: 4.5rem;
    }
    
}

@media screen and (max-width: 787px) {
    .main-app h2 {
        font-size: 7rem;
    }
}


@media screen and (max-width: 749px) {
    .main__start-con {
        display: flex;
        flex-direction: column-reverse;
    }

    .main__start-text-con {
        width: 100%;
        min-width: 100%;
    }

    .main__start-text-con {
        min-height: 30rem;
        max-width: 30rem;
    }

    .main__start-text h2 {
        font-size: 1.1rem;
    }
    
    .main__start-text h3 {
        font-size: 1.1rem;
    }
    
    .main__start-text h4 {
        font-size: 1.1rem;
    }

    .statement {
        height: 230px;
        padding: 2rem 3rem;
    }

    .statement-text h2 {
        font-size: 3.5rem;
    }

    .statement-text h3 {
        font-size: 3.5rem;
    }
}


@media screen and (max-width: 700px) {
    .main-app h2 {
        font-size: 5rem;
    }

    .main-app h3 {
        font-size: 1.8rem;
    }
    
    .main-app h4 {
        font-size: 1rem;
    }

    .main-app__options-img {
        width: 32rem;
        max-width: 32rem;
    }
}


@media screen and (max-width: 620px) {

    .main__transformation {
        padding: 0rem;
    }

    .main__transformation-text h2 {
        padding-top: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .main__transformation-sections {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        
    }


    .main__transformation-text h2 {
        font-size: 2.4rem;
    }

    .section img {
        width: 400px;
    }

    .main__transformation-section-arrow img {
        display: none;
    }

    .main__transformation-section2 {
        margin-top: 2rem;
    }

    .main__scroll-video img {
        min-height: 13rem;
    }

    .main__scroll-video {
        margin-top: 3rem;
    }


    .statement {
        height: 200px;
        padding: 1rem 2rem;
    }

    .statement-text h2 {
        font-size: 3rem;
    }

    .statement-text h3 {
        font-size: 3rem;
    }
}


@media screen and (max-width: 500px) {
    .main-app h2 {
        font-size: 4.2rem;
    }

    .main-app h3 {
        font-size: 1.6rem;
    }
    
    .main-app h4 {
        font-size: 1rem;
    }

    .main-app__options-img {
        width: 25rem;
        max-width: 25rem;
    }
}



@media screen and (max-width: 480px) {

    .main__transformation-text h2 {
        font-size: 2rem;
    }

    .main__start-text-con {
        padding: 16px;
    }


    .statement {
        height: 180px;
        padding: 1rem 1rem;
    }

    .statement-text h2 {
        font-size: 2.4rem;
    }

    .statement-text h3 {
        font-size: 2.4rem;
    }


    .apply__step-number {
        font-size: 2rem;
      }
    
    .apply__section-label {
        font-size: 1.8rem;
    }

    .main__apply-sections {
        padding: 20px;
    }

    .main__apply-sections p {
        margin-top: 1.5rem;
        font-size: 1rem;
    }

    .apply__section-con {
        width: 100%; 
    }

    .main__start-text h2 {
        font-size: 0.9rem;
    }
    
    .main__start-text h3 {
        font-size: 0.9rem;
    }
    
    .main__start-text h4 {
        font-size: 0.9rem;
    }

    .main__start-text-con {
        min-height: 25rem;
        max-width: 25rem;
    }

    .main__start-img img {
        min-height: 25rem;
        max-height: 25rem;
    }
}


@media screen and (max-width: 430px) {
    .main-app h2 {
        font-size: 3.4rem;
    }
} 


@media screen and (max-width: 415px) {

    .statement-text h2 {
        font-size: 2.3rem;
    }

    .statement-text h3 {
        font-size: 2.3rem;
    }

    .main-app__options-img {
        width: 22rem;
        max-width: 22rem;
    }
}

